body{
    background-color:  #009b7d ;
    border: solid black 2px;
    margin: 3%;
}


.boletín{
    text-align: center;
    font-family: cursive;
    color: #cbcf00;
    font-weight: bolder;
    text-shadow: 3px 3px 5px  #043d32;
}

.fecha{
    margin: 30px;
    color: wheat;
    font-family: cursive;
    font-weight: bold;
}

.filtrar{
    text-align: center;
}

.nombreEstudiante{
    background-color: #009b7d;
    border: solid black 2px;
    border-radius: 20px;
    padding: 15px;
    width: 35%;
    font-weight: bold;
    color: #cbcf00;
    font-family: cursive;
    font-size: 15px;
    margin-bottom: 50px;
}

.btnFiltrar{
    position: relative;
    left: -7.5%;
    background-color: #009b7d;
    border: none;
    font-family: cursive;
    font-weight: bold;
    cursor: pointer;
}

.btnFiltrar:hover{
    color: #043d32;
}

.calificacionMasAlta{
    margin: 3%;
    padding: 10px;
    border: solid black;
    border-radius: 20px;
    background-color: #cbcf00;
    font-weight: bold;
    font-family: cursive;
}

.calificacionMasAlta:hover{
    color:#043d32;
}

.btns{
    display: inline-block;

}

.itens{
    display: block;
    margin: 0 0 0% 30%;
    font-weight: bolder;
}



.btnPromedio{
    margin: 3%;
    margin-top: 0.3%;
    padding: 10px;
    border: solid black;
    border-radius: 20px;
    background-color: #cbcf00;
    font-weight: bold;
    font-family: cursive;
    display: block;
}

.todasCalificaciones{
    margin: 3%;
    margin-top: 0.3%;
    padding: 10px;
    border: solid black;
    border-radius: 20px;
    background-color: #cbcf00;
    font-weight: bold;
    font-family: cursive;
    display: block; 
}

.inputResultado{
    margin-right:0;
    margin-bottom: 5%;
    height: 70px;
    width: 30%; 
    display: flex;
    position: absolute;
    left: 32%;
    top: 53%;
    border-radius: 20px;
    border: solid black;
    text-align: center;
    font-weight: bold;

    
}


.contenedor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }